body,
html,
ul {
        margin:0;
        padding:0;  
        font-family: "names";         
   }
 @font-face{
            font-family: "names";
            src:("./font/MyriadPro-Black.otf");
        }
  .outBox{
      width: 100%;
      height: 100%; 
    }
    ul, li {
      margin: 0;
    }
    a {
        text-decoration: none;
    }
    ul{
       height: 100px;
       width: 100%;
       list-style: none;
    }
  .hearder{
            height: 787px;
            background: #75b42b;          
       & .nav{
           height: 100px;
           width: 1169px;
            margin: auto;            
       & .logo{
                float: left;
                margin-left: 49px;
                line-height: 100px;
            } 
       & .navs{
           & a{
             font-size: 18px;
              float: right;
              line-height: 95px;
              color: #fff;
              margin-right: 29px;  
              border-top: 5px solid #75b42b;
            }             
          }
          & a:hover{
              display: block;
              margin-top:0;
              border-top: 5px solid #fff;
          }
        }
        & .banner{
            height: 630px;
            position: relative;
            overflow: hidden;
            & img{
                width: 100%;
            }
            & .banner-info{
              width: 980px;
              height: 630px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              color: #fff;
              text-align: center;
                &  h1{
                  font-size: 55px;
                  margin-top: 150px;
                  margin-left: -30px;
                  letter-spacing: 5px;
                 }
            & .banner-infos{
                height: 100%;
                width: 630px;
                margin: auto;
                   & .left,& .right{
                    margin: auto;
                    width: 240px;
                    height: 60px;
                    border: 2px solid #fff;
                    border-radius: 5%;
                    float: left;
                    margin-left: 40px;
                    text-indent: 40px;
                    line-height: 60px;
                    background-repeat: no-repeat;
                    background-position: 30px center;
                }
                    & .left{
                    background-image: url(../img/Icon-AppStore.png);
                }
                & .right{
                    background-image: url(../img/icon-PlayStore.png);   
                }  
            }
             .yuan{
                         widows: 600px;
                         height: 100px;
                      & i{     
                            display: inline-block;                             
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            border: 1px solid #fff;                                                
                      }
                   & i:nth-child(1){
                       float: left;
                       background: #fff;
                            display: block;
                            margin-top:300px; 
                            margin-left: -305px; 
                        }
                    & i:nth-child(2){
                        float: left;                   
                            display: block;
                            margin-top:300px; 
                            margin-left: -285px;    
                         }
                    & i:nth-child(3){
                        float: left;
                         display: block;
                         margin-top:300px; 
                            margin-left: -265px;   
                     } 
                  } 
              }
        }       
   }
   .center{
       width: 1028px;
       height: 695px;
       margin: 0 auto;  
       & h3{
           font-size: 48px;
           margin-top: 80px;
           text-align: center;
       } 
       & .center-info{
           width: 1028px;
           height: 400px;
           box-sizing: border-box;
          
           & .one{
                float: left;
                 height: 100%;
                 width: 342px;
                background: url(../img/Focus.png)no-repeat center 0px;
                & .one-1{
                 height: 20%;
                 width: 342px;
                 margin-top: 270px;
                 color: #666;
                & span{
                    display: block;
                    height: 25px;
                    width: 300px;
                    text-align: center;
                    margin-top: 5px;
                    margin-left: 10px;
                    line-height:25px;
                    font-family: "names";
                    font-size: 16px;
                    color: #7e7e7e;
                     } 
                }               
           }
           
           & .two{
                float: left;
               width: 342px;
               height: 100%; 
                background: url(../img/Filters.png)no-repeat center 0px; 
                & .one-2{
                 height: 20%;
                 width: 342px;
                 margin-top: 270px;
                 color: #666;
                & span{
                    display: block;
                    height: 25px;
                    width: 300px;
                    text-align: center;
                    margin-top: 5px;
                    margin-left: 10px;
                    line-height:25px;
                    font-family: "names";
                    font-size: 16px;
                    color: #7e7e7e;
                     } 
                }
           }
           & .three{
                float: left;
                   width: 342px;
                   height: 100%;
             background: url(../img/Touch-ID.png)no-repeat center 0px; 
                & .one-3{
                 height: 20%;
                 width: 342px;
                 margin-top: 270px;
                 color: #666;
                & span{
                    display: block;
                    height: 25px;
                    width: 300px;
                    text-align: center;
                    margin-top: 5px;
                    margin-left: 10px;
                    line-height:25px;
                    font-family: "names";
                    font-size: 16px;
                    color: #7e7e7e;
                     } 
                }
           }
           .clean{
               clear: left;
           }
       }     
   }
       .intro{
          clear:all;
           height: 734px;
           background-color: #262626;
          & .one{
               float: left;
               width: 50%;
               height: 100%; 
                background: url(../img/iPhone1.png)no-repeat 0px 70px; 
                background-position-x: 64px;
                overflow: hidden;
           }
           & .two{
                float: right;
                   width: 50%;
                   height: 73%;
                   font-size: 48px;
                   padding-top: 200px;
                   color: #fff;
                   & span{                      
                       display: block;
                        height: 25px;
                        width: 500px;
                        margin-top: 8px;
                        line-height:25px;
                        font-size: 18px;
                        color: #949494;
                        font-family: "names";
                   }
                   & .two-1{
                        width: 436px;
                        height: 84px;
                         margin-top: 40px;
                       & .left{
                           width: 50%;
                           float: left;
                            
                            & button{
                                width: 168px;
                                height: 91px;
                                outline: none;
                                border: none;
                                border-radius: 7px;
                                background-color: #75B42B;
                                position: relative;
                                &:after{
                                  content: '';
                                  position: absolute;
                                  left: 58px;
                                  top:30px;
                                  border: 16px solid #fff;
                                  transform: rotate(134deg);
                                  border-right-color: transparent;
                                  border-bottom-color: transparent;
                                }                               
                            }
                       }
                       & .right{
                           width: 50%;
                           float: right;
                          
                         & span{                      
                        display: block;
                        margin-top: -1px;
                        margin-left: -10px;
                        font-size: 11px;
                        font-family: "names";
                            }
                       }
                   }                      
                    .yuan{
                         widows: 600px;
                         height: 100px;
                      & i{     
                            display: inline-block;                             
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            
                       
                      }
                   & i:nth-child(1){
                       float: left;
                       background: #fff;
                            display: block;
                            margin-top:20px; 
                            margin-left: -215px; 
                        }
                    & i:nth-child(2){
                        float: left;                   
                            display: block;
                            margin-top:20px; 
                            margin-left: -190px;    
                         }
                    & i:nth-child(3){
                        float: left;
                         display: block;
                         margin-top:20px; 
                            margin-left: -160px;   
                     } 
                  }                                             
                  } 
                 & .clear{
                      clear: both;
                 }                                                      
              }
       .intro-1{         
            height: 803px;
            background-color: #313131;
            box-sizing: border-box;
            & .one{
               float: left;
                   width: 40%;
                   height: 80%;
                   font-size: 48px;
                   color: #fff;
                   padding-top: 200px;
                   padding-left: 240px;                   
                   & span{                      
                       display: block;
                        height: 25px;
                        width: 500px;
                        margin-top: 8px;
                        line-height:25px;
                        font-size: 18px;
                        color: #797979;
                        font-family: "names";
                   } 
                   & .one-1{
                       width: 471px;
                       height: 232px;
                       & .top{
                       
                       height: 180px;
                       margin-top: 40px;
                       padding-top: 20px;
                       background: url(../img/photo-share_01_03_07.png) no-repeat 40px 40px;
                       background-color: #fff;
                      & .fonts{
                           font-size: 18px; 
                           color: #75B42B;
                        }
                       & span{                      
                       display: block;
                        height: 25px;
                        width: 500px;
                        margin-top: 5px;
                        margin-left: 160px;
                        line-height:25px;
                        font-size: 14px;
                        color: #7f7f7f;
                        font-family: "names";
                       }
                       
                       }
                        
                       & .bottom{
                        height: 49px;
                        background-color: #75B42B;
                        
                        
                            & i{     
                            display: inline-block;                             
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            border: 1px solid #fff;                                                  
                            }
                               & i:nth-child(1){
                                   float: left;
                                   background: #fff;
                                        display: block;
                                        margin-top:15px; 
                                        margin-left: 40px; 
                                    }
                                & i:nth-child(2){
                                    float: left;                   
                                        display: block;
                                        margin-top:15px; 
                                        margin-left: 10px;    
                                     }
                                & i:nth-child(3){
                                    float: left;
                                    display: block;
                                    margin-top:15px; 
                                    margin-left: 10px;   
                                 } 
                                  & i:nth-child(4){
                                    float: left;
                                     display: block;
                                     margin-top:15px; 
                                        margin-left: 10px;   
                                 }  
                                  & i:nth-child(5){
                                    float: left;
                                     display: block;
                                     margin-top:15px; 
                                     margin-left: 10px;   
                                 }  
                                  & i:nth-child(6){
                                    float: left;
                                     display: block;
                                     margin-top:15px; 
                                        margin-left: 10px;   
                                 }  
                                  & i:nth-child(7){
                                    float: left;
                                     display: block;
                                     margin-top:15px; 
                                    margin-left: 10px;   
                               }     
                       }                    
                   }                 
               }    
           & .two{
                float: right;
                 width: 40%;
                 height: 100%;
                 background: url(../img/Nexus-5.png)no-repeat 0 70px; 
                 background-position-y: 40px;
                 background-position-x: -80px;
                 overflow: hidden;
           }
       }
       
       .intro-2{
           height: 823px;            
            & .one{
               height: 308px; 
               
               margin-top: 90px;
                & .fonts{
                    display: block;
                    margin-top: 20px;
                    font-size: 45px; 
                    color: #75B42B; 
                }
                & .fonts1{
                    display: block;
                    margin-top: 40px; 
                }
               & span{
                        display: block;
                        height: 25px;
                        margin-top: 0px;
                        margin-left: 360px;
                        line-height:25px;
                        font-size: 14px;
                        color: #bdbdbd;
                        font-family: "names";
               }               
           }
           & .two{
               height: 515px;
               & div:hover{
                   transform-origin: bottom;
                   transform: scaleY(1.1);
               }               
               & .two-1,
               & .two-2,
               & .two-3,
               & .two-4{                  
                 float: left;
                 width: 25%;
                 height: 100%;
                 position: relative;                 
                & img{
                    width: 100%;
                    height: 100%;
                
                }
                & .tu1,
                & .tu2,
                & .tu3,
                & .tu4{
                  width: 334px;
                  height: 40px;
                  border: 1px solid #000000;
                  
                  position: absolute;
                  left: 0px;
                  top:473px;
                  color: #666;
                  line-height: 40px;
                  padding-left: 20px;
                  background: url(../img/Heart2.png)no-repeat 280px center ;
                  background-color: #000; 
                  display: none;
                } 
                &:hover .tu1,
                &:hover .tu2,
                &:hover .tu3,
                &:hover .tu4,{
                    display: block;
                }                          
               }
               
                & .two-2{                  
                 float: left;
                 width: 25%;
                 height: 100%;
 
                 overflow: hidden; 
               }
               & .two-3{                  
                  float: left;
                 width: 25%;
                 height: 100%;
                overflow: hidden; 
               }
               & .two-4{                  
                  float: left;
                 width: 25%;
                 height: 100%;
                overflow: hidden; 
               }
           }
       }
    .intro-3{
           height: 724px;
           background-color: #75B42B;
            & .one{
                float: left;
               width: 40%;
              
               background: url(../img/App-icon.png)no-repeat center right; 
               
               height: 100%; 
               
               
           }
           & .two{
               float: right;
               width: 60%;
               height: 100%; 
               padding-top: 125px; 
               font-size: 40px;
               color: #fff;
                & span{
                    color: #fff;
                    font-size: 24px;
                }
                & .banner-infos{
               height: 630px;
                width: 60%;
                margin-top:40px;
                   & .left,& .right{
                    margin: auto;
                    width: 240px;
                    height: 60px;
                    border: 2px solid #fff;
                    border-radius: 5%;
                    float: left;
                    text-indent: 90px;
                    line-height: 40px;
                    background-repeat: no-repeat;
                    background-position: 30px center;
                }
                    & .left{
                    background-image: url(../img/Icon-AppStore.png);
                }
                & .right{
                    margin-left: 15px;
                    background-image: url(../img/icon-PlayStore.png);   
                }  
             }
           }
       }
       
    .intro-4{
            height: 444px;
            border: 1px solid #e7e7e7;
            background-color: #e7e7e7;
            position: relative;
                & span{
                    position: absolute;
                    left: 225px;
                    color: #666;
                    top:80px;
                    }
            & .intro-4s{
                width: 970px;
                height: 230px;
                margin:107px auto;
                border-top:2px solid #cbcbcb;
                & .one{
               float: left;
               width: 50%;               
               height: 100%;  
               padding-top: 20px; 
               color: #666;
               background: url(../img/iOS-devices.png) no-repeat 0 125px;                          
            }
           & .two{
               float: right;
               width: 50%;
               height: 100%; 
               color: #666;
               padding-top: 20px; 
               background: url(../img/Android-devices.png) no-repeat 0 125px;                
           }
            }
            
       }
    .intro-5{
                width: 100%;
                height: 226px;
                background-color: #f4f4f4;
                   & .one{
                   float: left;
                   width: 28%;               
                   height: 100%; 
                   font-size: 18px;
                    color: #666;
                   padding-left: 100px;
                   line-height: 300px;                           
                    }
                   & .two{
                       float: right;
                       width: 40%;
                       height: 47%;
                       font-size: 18px;
                       padding-left: 250px; 
                       padding-top: 100px; 
                        color: #666; 
                       & input{
                           width: 311px;
                           height: 48px;
                           border-radius: 7px;
                           outline: none;
                           border: none;
                           text-indent: 10px;
                           color: #666;
                           border: 2px solid #a3a3a3;
                       }  
                       & button{
                           width: 101px;
                           height: 55px;
                           border-radius: 7px;
                           margin-top: 10px;
                           margin-left: 10px;
                           outline: none;
                           border: none;
                           
                           background-color: #75B42B;
                       }            
                   }
       }
    
